* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

[class^="bloco-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
}

.bloco-1{
    background-color: #F5841F;
    color: #fff;
}
.bloco-2 {
    background-color: #6C63FF;
    color: #fff;
}

.bloco-3 {
    background-color: #D9A6FF;
    color: black;
}

.bloco-4 {
    background-color: #F3BA2F;
    color: black;
}