* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    height: 100vh;
}

.left, .right {
    flex: 1;
    display: flex;
}

.right {
    flex-direction: column;
}

[class^="bloco-"] {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
}

.bloco-4, .bloco-5, .bloco-6 {
    color: #fff;
}

.bloco-1 {
    background-color:#D9A6FF;
}

.bloco-2 {
    background-color: #6C63FF;
}

.bloco-3 {
    background-color:#FE6E88;
}

.bloco-4 {
    background-color: #F5841F;
}

.bloco-5 {
    background-color: #6C63FF;
}

.bloco-6 {
    background-color: #D9A6FF;
}