* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 100px;
    color: #fff;
    font-weight: 700;
}

.header {
    background-color: #4200FF;
}

.split {
    flex: 1;
    display: flex;
}

.menu-lateral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 333px;
    background-color: #e27625;
    font-family: sans-serif;
    padding: 10px;
}

.content {
    flex: 1;
    padding: 0 20px;
}

.content h1 {
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.content .container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(95vh - 268px);
    background-color: #20b15a;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
}

.footer {
    background-color: #725BDA;
}